<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\SalesRule\Model\RulesApplier">
        <plugin name="zero1_autoaddfreeproduct_model_rulesapplier" type="Zero1\AutoAddFreeProduct\Model\RulesApplierPlugin" sortOrder="10"/>
    </type>
</config>
