<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_block_salesrule_actions_prepareform">
        <observer name="Zero1_AutoAddFreeProduct" instance="Zero1\AutoAddFreeProduct\Observer\SalesRule\ActionsTabPrepareFormObserver" />
    </event>
</config>
